img{
    width: 400px;
}

body {
    text-align: center;
    Font-family: 'Georgia';
    background: mediumseagreen;
    color: white;
}

h1 {
    font: italic bold 78pt;
}

h2{
    font: italic 40pt;
}

p {
    font: italic 24pt;
}
